#show-contact {
  display: none;
}

.contact {
  cursor: pointer;
  color: #0088cc;
}

.contact:hover {
  text-decoration: underline;
}
#accounts,#account-details,#new-account-btn,#all-accounts-btn,#deposit,#withdraw-btn,#deposit-btn,#withdraw {
  display:none;
}
